.button-reset {
  display: flex;
  padding: 10px;
  flex-direction: column;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 10%;
  border-color: rgb(192, 192, 59);
  background-color: rgb(231, 211, 96);
}
