.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: column;
  color: rgb(226, 226, 220);
  justify-items: center;
  text-align: center;
  font-size: 40px;
}
