*,
::before,
::after {
  box-sizing: border-box;
}

* {
  background-color: #2f312f;
  color: rgb(236, 242, 247);
}

html {
  font-family: "Lexend Deca", sans-serif;
}
body {
  margin: 0;
  min-width: 100%;
}
ul {
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}
